*{
    font-family: 'Quicksand', sans-serif;
}
main{
    display:flex;
    justify-content: space-between;
    margin: 2% 2% 7% 2%;
}

body{

    background-image:linear-gradient(#A8A8A8,#CE517B,#E9175E,#484848,#363636 ) ;
    background-attachment:fixed;
}

.contenedor-titulo{

    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    
}



.tituloPrincipal{

    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: #F9DC3F;
    text-shadow: -2px 3px #000000;
    font-family: 'Quicksand', sans-serif;
    
    
    
    
}

.input-texto{

    display: flex;
    font-size: 32px;
    height: 85%;
    background-color: #EA5656;
    color:  #EDF7C6; 
    resize: none;
    
   
}

.input-texto::placeholder{
    color: #EDF7C6;
}

.atencion{
    display: flex;
    position: absolute;
    left: 2%;
    top: 71%;
    align-items: center;
    text-align: start;
    font-size: 12px;
    font-weight: bold;
    color: #EDF7C6;
}

.mensaje{
    display: flex;
    font-size: 32px;
    height: 85%;
    background-color: #151F21;
    color:  #EDF7C6;
    resize: none;
    background-image: url(imagenes/PngItem_1492109.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50px 30px;

}

.botones{
    display: flex;
    margin-top: 2%;
    height: 67px;
    gap: 10px;
}

.encriptar{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #e6cc39;
    color: #000000;
    border-radius: 6px;
    border: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    transition: .3s ease all ;
    
}

.encriptar:hover{
    color: #EDF7C6;
}

.encriptar span{
    position: relative;
    z-index: 2;
    transition: .3s ease all ;
}

.encriptar::after{

    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px; 
    transform-origin:center ;
}

.encriptar:hover::after{
    transform: scale(400);
    background: #5E1646;
}

.desencriptar{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #F9DC3F;
    color: #000000;
    border-radius: 6px;
    border: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    transition: .3s ease all ;
}

.desencriptar:hover{
    color: #EDF7C6;
}

.desencriptar span{
    position: relative;
    z-index: 2;
    transition: .3s ease all ;
}

.desencriptar::after{

    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px; 
    transform-origin:center ;
}

.desencriptar:hover::after{
    transform: scale(400);
    background: #5E1646;
}

.copiar{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 315px;
    height: 67px;
    padding: 24px;
    text-decoration: none;
    background-color: #F9DC3F;
    color: #000000;
    border-radius: 6px;
    border: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    transition: .3s ease all ;
}

.copiar span{
    position: relative;
    z-index: 2;
    transition: .3s ease all ;
}

.copiar:hover{
    color: #EDF7C6;
}

.copiar::after{

    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px; 
    transform-origin:center ;
}

.copiar:hover::after{
    transform: scale(400);
    background: #5E1646;
    
}

.ningunMensaje{
    position: absolute;
    top: 55%;
    right: 4%;
    font-size: 24px;
    text-align: center;
    color:  #EDF7C6;

}

.parrafo{
    position: absolute;
    top: 65%;
    right: 2.5%;
    color:  #EDF7C6;
    text-align: center;
    
    

}

.parrafo-footer{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    object-fit:contain;
    width: 100%;
    height: 45px;
    font-family: 'Quicksand', sans-serif;
    color: #EDF7C6;
    background-color: #5E1646;
}

.parrafo-footer img{
    height: 50%;
    padding-left: 5px;
}


/* CSS para Tablet */

@media screen and (max-width:768px) {
    * {
        flex-direction: column;
    }

    .contenedor-titulo{
        display: flex;
        align-items: flex-start;
        padding: 15px 0px 0px 15px;
    }

    .tituloPrincipal{
        position: absolute;
        top: 20px;
        left: 190px;
        
    }

    .input-texto{
        display: flex;
        width: 100%;
        height: 70%;
        align-items: flex-start;   
    }

    .atencion{
        top: 74.9%;
        left: 2%
        
    }
    .mensaje{
        display: flex;
        width: 100%;
        height: 30%;
        background-image: none;
    }
    .ningunMensaje{
        position: absolute;
        left: 5%;
        top: 600px;
    }
    .parrafo{
        position: absolute;
        left: 5%;
        top: 650px;

    }
    .botones {
        width: 100%;
        flex-direction: row;
    }
    .encriptar, .desencriptar ,.copiar{
        display: flex;
        padding: 24px;
        align-items: center;
    }

    .parrafo-footer{

        display: flex;
        align-items:center;
        justify-content:center;
        object-fit:contain;
        width: 100%;
        height: 10%;
    }

}

@media screen and (max-width:375px) {
    * {
        flex-direction: column;
    }

    .contenedor-titulo{
        display: flex;
        align-items: flex-start;
        padding: 15px 0px 0px 15px;
        
    }

    .tituloPrincipal{
        display: flex;
        align-items: flex-end;
        font-size: 28px;
    }

    .input-texto{
        display: flex;
        align-items: flex-start; 
        margin-top: 3%;   
    }

    .mensaje{
        display: flex;
        align-items: flex-start;  
        background-image: none;
    }
    .ningunMensaje{
        display: flex;
    }
    .parrafo{
        display: flex;
    }
    .botones {
        width: 100%;
        flex-direction: column;
        margin-top: 7%;
        margin-bottom: 18%;
    }
    .parrafo-footer{
        width: 100%;
    }

}







